<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\net8.0-windows7.0\AutoMapper.Bugfix.Starter.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess" stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="1618084096" />
        </requestFiltering>
      </security>
      <applicationInitialization doAppInitAfterRestart="true" skipManagedModules="false">
        <add initializationPage="/warmupapplication" />
      </applicationInitialization>
    </system.webServer>
  </location>
  <system.webServer>
    <security>
      <authorization>
        <add accessType="Allow" verbs="OPTIONS" users="?" />
      </authorization>
    </security>
  </system.webServer>
</configuration>